
{% extends "layout.html" %}

{% block pageTitle %}
  Property title split
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-panel govuk-panel--confirmation">
                <h1 class="govuk-panel__title">
                    Property title split
                </h1>
        
            </div>
    
            <p class="govuk-body">You've split your title into <strong>2 parts of 50% value each.</strong></p>
    
            <p class="govuk-body">HMLR have now updated their records.</p>

            <p class="govuk-body">The register for 1 Digital Street now consists of:</p>

            <ul class="govuk-list govuk-list--bullet">
                <li>Title number: ZQV888860-A</li>
                <li>Title number: ZQV888860-B</li>            
            </ul>

            <h3 class="govuk-heading-m">What happens next</h3>
    
            <p class="govuk-body">
                You'll receive email confirmation that you've split your property title and information about any next steps.
            </p>
            <p class="govuk-body">
                You can now sign out.
            </p>
        </div>
    </div>
    

{% endblock %}